.card {
  background: #111116;
  border-radius: 14px;
  border: 1px solid #111016;
  overflow: hidden;
  transition: 0.25s ease;
  display: flex;
  flex-direction: column;
}

.card:hover {
  border-color: #4a13af;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.4);
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  background: #000;
  border-radius: 6px;
}

.card-content {
  padding: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-content h3 {
  margin-bottom: 8px;
}

.card-content p {
  color: #b5bac1;
  font-size: 0.9rem;
  margin-bottom: 16px;
  flex-grow: 1;
}

.button {
  background: #1c1c22;
  border: none;
  padding: 10px 14px;
  border-radius: 6px;
  cursor: pointer;
  color: white;
  font-weight: 600;
  transition: 0.2s;
}

.button:hover {
  background: #4a13af;
}
